@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: linear-gradient(to right,#1E52B4, #002777);
    overflow-x: hidden;

}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px; 
  }
  
::-webkit-scrollbar-thumb {
    background-color:#1E52B4; 
    border-radius: 10px;
  }
  
  
::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 10px; 
  }
  
  
::-webkit-scrollbar-thumb:hover {
    background-color: #002777; 
  }


#logo-box {
    background: linear-gradient(to right,#1E52B4, #002777);
    height: 75px;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logo {
    width: 155.58px;
    height: 23px;
    margin-top: 7px;
    margin-left: 80px;
    
    position: relative;
    right: 310px;
}

.nav-box {
    /* border: 1px solid red; */
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 250px;
}

.nav-links {
    font-family: "Poppins", sans-serif;
    color: azure;
    font-style: regular;
    font-weight: 500;
    font-size: 14px;
}

#button-register {
    background-color: transparent;
    border: 1px solid white;
    width: 150px;
    height: 35px;
    border-radius: 8px;
}

.button-text {
    font-family: "Poppins", sans-serif;
    color: #FAFAFA;
    font-style: regular;
    font-weight: 500;
    font-size: 14px;
}


.section-main {
    background: transparent;
    height: 351px;
    /* border: 1px solid red; */
    width: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.section-box {
    flex-direction: column;
}

.section-title {
    font-family: "Poppins", sans-serif;
    color: #FAFAFA;
    font-size: 28px;
}

.section-text {
    font-family: "Poppins", sans-serif;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 18px;
}

.map-image {
    margin-right: 100px;
    width: 409px;
    height: 364px;
    margin-top: 75px;
}

.task-bar {
    width: 1020px;
    height: 80px;
    background-color:white;
    border-radius: 8px;

    display: flex;
    align-items: center;
    position: relative;
    left: 240px;
    top: 38px;
    flex-direction: row;
    box-shadow: 4px 4px 10px 5px #00000026;
}

.photo-pin {
    position: relative;
    left: 30px;
}

.calendar {
    position: relative;
    left: 30px;
}

.task-title {
    font-family: "Poppins", sans-serif;
    color: #5F5C6B;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 70px 0px 40px;
    
    border-right: 2px dotted #4E4B59;
    height: 40px;
}

.find-hotel {
    width: 180px;
    height: 50px;
    background-color: #009C3B;
    border-radius: 8px;
    border: 1px solid #009C3B;
    margin-left: 20px;
}

.section-hotel {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    /* border: 1px solid red; */
    padding-right: 40px;
}


.card {
    width: 270px;
    margin-top: 90px;
    margin-left: 100px;
}


.card2 {
    width: 270px;
    margin-top: 40px;
    margin-left: 100px;
}


.badge-state {
    color: #FFDF00;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    width: 20px;

    position: relative;
    left: 240px;
    bottom: 25px;
}

.travel {
    width: 260px;
    height: 173px;
    border-radius: 8px;
}

.hotel-title {
    font-family: "Poppins", sans-serif;
    color: #4E4B59;
    width: 130px;
    font-style: bold;
    font-size: 16px;
}

.hotel-text {
    font-family: "Poppins", sans-serif;
    color: #4E4B59;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;

    position: relative;
    bottom: 10px;
}

.ad-section {
        background-color: #FAFAFA;
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: space-around;
}

.ad-box {
    width: auto;
}

.img-travel {
    margin-top: 50px;
}

.ad-text {
    font-family: "Poppins", sans-serif;
    color: #2E2636;
    font-weight: 800;
    font-size: 28px;

    margin-top: 100px;
    margin-right: 100px;
}

.ad-subtext {
    font-family: "Poppins", sans-serif;
    color: #2E2636;
    font-weight: 500;
    font-size: 20px;

    margin-top: 30px;
    margin-right: 100px;
}

.footer {
    background-color: #009C3B;
}

.footer-box {
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 40px;
}

.footer-title {
    font-family: "Poppins", sans-serif;
    color:#FAFAFA;
    font-weight: 500;
    font-size: 24px;
}

.footer-text {
    font-family: "Poppins", sans-serif;
    color:#FAFAFA;
    font-weight: 400;
    font-size: 16px;
}

.footer-subtext {
    font-family: "Poppins", sans-serif;
    color:#FAFAFA;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 30px;
}

.footer-yellow {
    background-color: #FFDF00;
    text-align: center;
}

.footer-yellow-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
}

@media screen and (max-width: 624px) {
    main {
    max-width: 100%;
      padding-bottom: 20px;
    }
  
    .logo {
      width: 50px;
      height: 30px;
    }
  
  }
  
 